html {
	scroll-behavior: smooth;
	//scroll-padding-top: 100px;
	scroll-padding: 100px 0 0 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	-webkit-text-size-adjust: none;
}

a {
	color: #000;
}

figcaption {
 color: #999;
 font-size: 0.9em;
 text-align: right;
}

.chapterListContent a {
	padding: 10px 0 10px 10px;
	display: block;
	color: #fff;
	text-decoration: none;
}

.chapterListContent > a {
	padding: 20px;
}

.chapterSection > a:last-child{
	padding-bottom: 40px;
}

.itemRank {
	display: inline-block;
	//background-color: #333;
	color: #fff;
	margin-right: 6px;
	//padding: 0px 5px;
	//font-size: 0.8em;
	//border-radius: 5px;
	//border-top-left-radius: 5px;
	//border-bottom-left-radius: 5px;
	//line-height: 3.5;
}

.itemName {
	display: inline-block;
}

.itemDate {
	opacity: 0.5;
}

h3 {
	display: inline-block;
}

.step h3 {
	margin-bottom: 0;
}
.mapboxgl-popup-content h3, .mapboxgl-popup-content p {
	margin: 0px;
	line-height: 16px;
}

.mapboxgl-popup-content i {
	color: #999;
}

.mapboxgl-popup-content a {
	color: #2772D9;
}

.mapboxgl-popup-content a:hover {
	color: #000;
}

table {
	border-spacing: 0px;
	margin-bottom: 8px;
	padding-bottom: 6px;
	border-bottom: 1px solid #eee;
	width: 100%;
	white-space: nowrap;
}

th {
	text-align: left;
	padding-top: 2px;
	padding-right: 10px;
	color: #999;
	font-size: 1em;
	font-weight: 400;
}
	
.mapboxgl-popup-content {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 1.1em;
	padding: 8px 10px;
}


.step {
	pointer-events: none;
}

.light, .dark {
	pointer-events: auto;
}


.step p {
	line-height: 25px;
	font-size: 1em;
}

.step .dropCap {
	color: #000;
	font-size: 3.1em;
	font-weight: 500;
	float: left;
	line-height: 1;
	margin: 0 8px 0px 0;
}

.step .dropQuote {
	display: inline-block;
	color: #000;
	font-size: 50px;
	margin: 0 20px;
}

.step .divider {
	display: flex;
	text-align: center;
	flex-direction: row;
	justify-content: center;
	align-items: bottom;
	text-align: center;
	margin-top: 30px;
	margin-bottom: -10px;
}

.step .dividerLine {
	border-top:1px solid #000;
	color: #000;
	width: 100%;
	margin-top: 20px 0;
}

.step div {
	//padding: 10px 25px;
	padding: 0px 25px 10px;
	border-radius: 10px;
}
.step img {
	width: 100%;
	margin-top: 15px;
}

.step a {
	width: 100%;
}


img {
	border-radius: 5px;
	transition: 0.3s;
}

#features p {
	font-family: 'IBM Plex Serif', serif;
}

#header h1 {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-weight: 600;
	padding: 60px 0px 30px;
	font-size: 3em;
	padding-bottom: 30px;
	margin: 0;
}

#header h2 {
	padding-bottom: 15px;
	opacity: 0.6;
	margin: 0;
}

#header p {
	opacity: 0.6;
	font-size: 1.25em;
	font-weight: 700;
	margin: 0;
}

#map {
	top: 0;
	height: 100vh;
	width: 100vw;
	position: fixed;
}

#map.shake {
	transform: translate(0,0);
	animation-name: shake;
	//animation-delay: 0.5s;
	animation-duration: 0.5s;
	animation-iteration-count: 5;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	  10% { transform: translate(-1px, -2px) rotate(-1deg); }
	  20% { transform: translate(-3px, 0px) rotate(1deg); }
	  30% { transform: translate(3px, 2px) rotate(0deg); }
	  40% { transform: translate(1px, -1px) rotate(1deg); }
	  50% { transform: translate(-1px, 2px) rotate(-1deg); }
	  60% { transform: translate(-3px, 1px) rotate(0deg); }
	  70% { transform: translate(3px, 1px) rotate(-1deg); }
	  80% { transform: translate(-1px, -1px) rotate(1deg); }
	  90% { transform: translate(1px, 2px) rotate(0deg); }
	  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.step {
	padding-bottom: 50vh;
	opacity: 0.25;
}

.step.active {
	opacity: 0.9;
}

#header {
	position: relative;
	padding: 0px 60px;
	z-index: 5;
	background: linear-gradient(180deg, rgba(232, 242, 248, 0) 50%, rgba(232, 242, 248, 1) 100%), url('images/006-bombs.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	text-align: center;
	color: #fff;
}

#footer {
	width: 100%;
	min-height: 5vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	text-align: center;
	line-height: 25px;
	font-size: 13px;
	position: relative;
	z-index: 5;
	background-color: #444;
	background-image: none;
	opacity: 0.9;
}

.listTitle::before {
	content: "Chapters";
}

#chapterListContainer {
	position: sticky;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -o-sticky;
	position: -ms-sticky;
	top: 100px;
	float: right;
	opacity: 1;
	width: 220px;
	max-height: 80vh;
	overflow: auto;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 9999;
	pointer-events: none;
	overflow-x: hidden;
}

#chapterListContainer.activeState {
	pointer-events: auto;
	opacity: 0.9;
}

.chapterListHeader {
	color: #fff;
	background-color: #333;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 0px 20px;
	z-index: 9999;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	transition: transform linear .2s;
	position: sticky;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -o-sticky;
	position: -ms-sticky;
	top: 0;
	pointer-events: auto;
	transform: translate(170px);
}

.chapterListHeader.activeState {
	flex-direction: row;
	transform: translate(0px);
	border-bottom-left-radius: 0px;
}
.chapterListContent {
	right: 0px;
	background-color: #333;
	//position: relative;
	transition: transform linear .2s;
	border-bottom-left-radius: 10px;
	border-top: 1px solid #555;
	pointer-events: auto;
	transform: translate(220px);
}
.chapterListContent.activeState {
	transform: translate(0px);
}

.chapterSectionHeader {
	color: #fff;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	border-top: 1px solid #555;
	padding: 15px 20px;
	background-color: #333;
}

.chapterAccordion {
	font-weight: 700;
	font-size: 1em;
}

.chapterSection {
	display: none;
	overflow: hidden;
	padding: 0px 20px;
	background-color: #333;
}

.chapterListHeader .listIcon {
	margin-top: 2px;
	font-size: 20px;
	transition: transform 0.1s;
	transform: rotate(-90deg);
}

.chapterListHeader .listIcon::before {
	content: '\2305';
}

.chapterListHeader .listIcon.activeState {
	transform: rotate(90deg);
	margin-top: 0px;
}

.chapterSectionHeader .listIcon {
	font-size: 20px;
	transform: rotate(-90deg);
	padding-bottom: 8px;
}

.chapterSectionHeader.activeState .listIcon {
	transform: rotate(0deg);
}

#features {
	padding-top: 10vh;
	padding-bottom: 10vh;
}
.hidden {
	visibility: hidden;
}
.centered {
	width: 50vw;
	margin: 0 auto;
}
.lefty {
	width: 33vw;
	margin-left: 5vw;
}
.righty {
	width: 33vw;
	margin-left: 62vw;
}
.fully {
	width: 100%;
	margin: auto;
}
.light {
	color: #1a1a1a;
	background-color: #fafafa;
}
.dark {
	color: #fff;
	background-color: #647D79;
}

/* Popup */
.mapboxgl-popup {
 max-width: 400px;
 font: 12px/20px 'Helvetica Neue', 'Arial', 'Helvetica', 'sans-serif';
}

#missionPulse {
	background-color: #000;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: auto;
	opacity: 0.5;
	transform: scale(1);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.5);
		box-shadow: 0 0 0 0 rgba(50, 210, 113, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(194, 86, 200, 0);
	}

	100% {
		transform: scale(0.5);
		box-shadow: 0 0 0 0 rgba(95, 150, 210, 0);
	}
}

#missionPulse:hover {
	background-color: #fff;
}

/* Fix issue on mobile browser where scroll breaks */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
	touch-action: unset;
}

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 9999;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(255, 255, 255);
	/* Fallback color */
	background-color: rgba(255, 255, 255, 0.9);
	/* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #CDA076;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0)
	}
	to {
		-webkit-transform: scale(1)
	}
}
@keyframes zoom {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #999;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

@media(hover:hover) {
	.close:hover,
	.chapterListHeader:hover,
	.chapterSectionHeader:hover,
	.close:focus,
	.chapterListHeader:focus,
	.chapterSectionHeader:hover {
		color: #bbb;
		text-decoration: none;
		cursor: pointer;
	}
	
	.chapterListContent a:hover {
		opacity: 0.5;
	}
	
	#features img:hover {
		opacity: 0.7;
		cursor: pointer;
	}
}

@media (hover:none) {
	.close:hover,
	.chapterListHeader:hover,
	.chapterSectionHeader:hover,
	.close:focus,
	.chapterListHeader:focus,
	.chapterSectionHeader:hover {
		color: #fff;
	}
	
	.chapterListContent a:hover {
		opacity: 1;
	}
	
	#features img:hover {
		opacity: 1;
	}
	
	.step {
		pointer-events: auto;
	}
}

@media only screen and (max-width: 768px) {	
	html {
		scroll-behavior: auto;
		scroll-padding: 20px 0 0 0;
	}
	
	body {
		font-size: 1.2em;
	}
	
	.step .dropCap {
		font-size: 2.6em;
	}
	
	.modal-content {
		width: 100%;
	}
	
	.chapterListHeader .listTitle::before {
		content: 'Close';
	}
	
	#chapterListContainer {
		position: fixed;
		top: 0px;
		right: 0px;
		height: 100vh;
		max-height: none;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	
	#chapterListContainer.activeState {
		width: 80vw;
		height: 100vh;
	}
	
	.chapterListHeader {
		border-top-left-radius: 0px;
		flex-direction: row-reverse;
		background-color: rgba(51,51,51,0);
		transform: translate(135px);
	}
	
	.chapterListHeader.activeState {
		border-bottom-left-radius: 0px;
		transform: translate(0px);
		background-color: rgba(51,51,51,1);
		padding: 0 10px 0 20px;
	}
	
	.chapterListHeader .listIcon {
		font-size: 3em;
		transform: rotate(0deg);
		padding: 0 5px 2px 5px;
		border-radius: 5px;
		text-shadow: 1px 1px 1px #666;
	}
	
	.chapterListHeader .listIcon::before {
		content: '\2630';
	}
	
	.chapterListHeader .listIcon.activeState::before {
		content: '\00d7';
	}
	
	.chapterListHeader .listIcon.activeState {
		transform: rotate(0deg);
		background-color: rgba(255,255,255,0);
		color: #fff;
		margin-top: -5px;
	}
	
	.chapterListContent a {
		padding: 15px 0 15px 10px;
	}
	
	.chapterListContent > a {
		padding: 20px;
	}

	.chapterListContent.activeState .chapterSectionHeader:nth-of-type(5) {
		padding-bottom: 200px;
	}
	
	.chapterListContent.activeState .chapterSectionHeader.activeState:nth-of-type(5) {
		padding-bottom: 15px;
	}
	
	.chapterSection:last-child {
		padding-bottom: 200px;
	}
	
	.chapterListContent {
		border-bottom-left-radius: 0px;
		height: 100%;
	}
	
	.chapterListContent.activeState {
		//transform: translateY(-100%);
	}
	
	/* Hide map nav for mobile */
	.mapboxgl-ctrl-top-right {
		display: none;
	}
	
	.centered,
	.lefty,
	.righty,
	.fully {
		width: 90vw;
		margin: 0 auto;
	}
	
	.step {
		pointer-events: auto;
	}
	
	#map {
		pointer-events: none;
	}
}

/* Simple chapter text legends */

.test {
	color: rgba(250, 255, 0, 0.8);
}