html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
}
a {
	color: #000;
}
.chapterListContent a:hover {
	color: #bbb;
}
.chapterListContent a span {
	display: block;
}
.chapterListContent a {
	padding-bottom: 10px;
	display: block;
	color: #fff;
	text-decoration: none;
	padding-top: 5px;
}
a span:nth-child(2) {
	opacity: 0.6;
}
h3 {
	display: inline-block;
}
.mapboxgl-popup-content h3, .mapboxgl-popup-content p {
	margin: 0px;
	line-height: 16px;
}

.mapboxgl-popup-content i {
	color: #999;
}

.mapboxgl-popup-content a {
	color: #2772D9;
}

.mapboxgl-popup-content a:hover {
	color: #000;
}

table {
	border-spacing: 0px;
	margin-bottom: 8px;
	padding-bottom: 6px;
	border-bottom: 1px solid #eee;
	width: 100%;
}

th {
	text-align: left;
	padding-top: 2px;
	padding-right: 10px;
	color: #999;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 400;
}
	
.mapboxgl-popup-content {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 1.1em;
	padding: 8px 10px;
}

.step p {
	line-height: 25px;
}
.step div {
	//padding: 10px 25px;
	padding: 0px 25px 10px;
	border-radius: 10px;
}
.step img {
	width: 100%;
}
img {
	border-radius: 5px;
	transition: 0.3s;
}
.step {
	pointer-events: none;
}
.step img {
	pointer-events: auto;
}
#features img:hover {
	opacity: 0.7;
	cursor: pointer;
}
#features p {
	font-family: 'IBM Plex Serif', serif;
}
#header h1 {
	font-family: 'Cedarville Cursive', cursive;
	padding: 60px 0px 30px;
	font-size: 3em;
	padding-bottom: 30px;
	margin: 0;
}
#header h2 {
	padding-bottom: 15px;
	opacity: 0.6;
	margin: 0;
}
#header p {
	opacity: 0.6;
	font-size: 1.25em;
	font-weight: 600;
	margin: 0;
}
#map {
	top: 0;
	height: 100vh;
	width: 100vw;
	position: fixed;
}
.step {
	padding-bottom: 50vh;
	opacity: 0.25;
}
.step.active {
	opacity: 0.9;
}
#header {
	position: relative;
	padding: 0px 60px;
	z-index: 5;
	background: linear-gradient(180deg, rgba(232, 242, 248, 0) 50%, rgba(232, 242, 248, 1) 100%), url('images/006-bombs.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	text-align: center;
	color: #fff;
}
#footer {
	width: 100%;
	min-height: 5vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	text-align: center;
	line-height: 25px;
	font-size: 13px;
	position: relative;
	z-index: 5;
	background-color: #444;
	background-image: none;
	opacity: 0.9;
}
#chapterListContainer {
	position: sticky;
	position: -webkit-sticky;
	top: 100px;
	float: right;
	overflow: hidden;
	opacity: 0.9;
}
.chapterListHeader {
	color: #fff;
	z-index: 9999;
	background-color: #666;
	padding: 0px 20px;
	border-top-left-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	transition: transform linear .2s;
}
.chapterListHeader.activeState {
	flex-direction: row-reverse;
	transform: translate(140px);
	border-bottom-left-radius: 10px;
}
.chapterListContent {
	right: 0px;
	background-color: #666;
	padding: 0px 20px 20px;
	border-bottom-left-radius: 10px;
	position: relative;
	transition: transform linear .2s;
}
.chapterListContent.activeState {
	transform: translate(200px);
}
.listIcon {
	font-size: 20px;
	transition: transform 0.1s;
	margin: 0;
	display: inline-block;
}
.listIcon.activeState {
	transform: rotate(180deg);
}
#features {
	padding-top: 10vh;
	padding-bottom: 10vh;
}
.hidden {
	visibility: hidden;
}
.centered {
	width: 50vw;
	margin: 0 auto;
}
.lefty {
	width: 33vw;
	margin-left: 5vw;
}
.righty {
	width: 33vw;
	margin-left: 62vw;
}
.fully {
	width: 100%;
	margin: auto;
}
.light {
	color: #1a1a1a;
	background-color: #fafafa;
}
.dark {
	color: #fff;
	background-color: #647D79;
}

/* Popup */
.mapboxgl-popup {
 max-width: 400px;
 font: 12px/20px 'Helvetica Neue', 'Arial', 'Helvetica', 'sans-serif';
}
.mapboxgl-canvas-container #schoolsMarker {
	background-color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}

#marker {
	background-color: #000;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}

/* Fix issue on mobile browser where scroll breaks */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
	touch-action: unset;
}

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 9999;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(255, 255, 255);
	/* Fallback color */
	background-color: rgba(255, 255, 255, 0.9);
	/* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #CDA076;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0)
	}
	to {
		-webkit-transform: scale(1)
	}
}
@keyframes zoom {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #999;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.close:hover,
.chapterListHeader:hover,
.close:focus,
.chapterListHeader:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 750px) {
	.modal-content {
		width: 100%;
	}
	/* Hide chapter nav for mobile */
	.chapterListContent,
	.chapterListHeader {
		display: none;
	}
	/* Hide map nav for mobile */
	.mapboxgl-ctrl-top-right {
		display: none;
	}
	.centered,
	.lefty,
	.righty,
	.fully {
		width: 90vw;
		margin: 0 auto;
	}
}

/* Simple chapter text legends */

.test {
	color: rgba(250, 255, 0, 0.8);
}